**/node_modules/
**/.venv/
**/__pycache__/

# Infrastrcutre ignore
infrastructure/.terraform
infrastructure/*.tfvars
infrastructure/lambda/functions.zip
infrastructure/terraform.tfvars
infrastructure/plan
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform.lock.hcl

lambda_functions/blog_template/
temp/

