**/node_modules/
**/.venv/
**/__pycache__/

# Infrastrcutre ignore
infrastructure/.terraform
infrastructure/*.tfvars
infrastructure/lambda/functions.zip
infrastructure/variables.tf
infrastructure/terraform.tfvars
infrastructure/plan

lambda_functions/blog_template/

