**/node_modules/
**/.venv/
**/__pycache__/
**/test.*

# Infrastrcutre ignore
infrastructure/.terraform
infrastructure/*.tfvars
infrastructure/lambda/functions.zip
infrastructure/terraform.tfvars
infrastructure/plan
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform.lock.hcl
infrastructure/**/__tests__/

lambda_functions/blog_template/
temp/
response.json
